html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EBEAEA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pagetitle {
  text-align: center;
}

h1.header {
  font-family: 'Open Sans';
  color: #45602B;
  font-size: 33px;
  text-align: center;
}

p.subheading {
  font-family: 'Open Sans';
  color: #45602B;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

div.subhead {
  font-family: 'Open Sans';
  color: #45602B;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 15px;
}

p.pagedescription {
  display: flex;
  font-family: 'Open Sans';
  color: black;
  font-size: 18px;
  font-weight: 100;
  margin: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.green-bar {
  font-family: 'Open Sans';
  font-style: normal;
  width: 300px;
  height: 90px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  border-radius: 60px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  margin-top: 15px;
  background-color:#45602B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }   

  .arrow {
    position: absolute;
    left: 6%;
    top: 2.7%;
  }

.like {
  position: absolute;
  right: 15%;
  top: 18%;
}

.body-text{
  font-family: 'Open Sans';
  font-style: normal;
  width: 321px;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 43px;
  top: 476px;
  width: 321px;
}

/* START HERE */
.flowercorners {
  position:relative;
  padding:0;
}
.flower-div1, .flower-div2, .flower-div3, .flower-div4 {
  position:fixed;
  margin:0;
  padding: 0;

  width: 160px;
  height: 160px;
}
.flower-div1 {
  top:0;
  left:0;    
}
.flower-div2 {
  top:0;
  right:0;
}
.flower-div3 {
  bottom:0;
  left:0;
}
.flower-div4 {
  bottom:0;
  right:0;
}