.green-bar {
    font-family: 'Open Sans';
    font-style: normal;
    width: 320px;
    height: 100px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    color: white;
    background-color:#45602B;
    }   

.clothing-image {
    width: 160px;
    height: 175px;
    font-weight: 700;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid rgba(142, 142, 142, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.header-image {
    width: 338px;
    height: 240px;
    font-weight: 700;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid rgba(142, 142, 142, 0.5);
    }

.body-text{
    font-family: 'Open Sans';
    font-style: normal;
    width: 321px;
    height: 82px;
    font-weight: 400;
    font-size: 18px;
    line-height: 137.19%;
    display: flex;
    left: 43px;
    top: 476px;
    width: 321px;
    height: 82px;
}